---
import { NAVIGATIONS, REPOS, SOCIALS } from '../navigations';
import { FooterLink } from './footer-link';
---

<footer
	class="container-fluid pt-10 pb-40 flex flex-col md:pr-10 md:flex-row md:items-start md:justify-between max-w-xl"
>
	<p class="font-semibold text-muted-foreground">
		&copy; {new Date().getFullYear()} - Luciano Frizzera
	</p>

	<div class="grid grid-cols-3 gap-8 max-md:pt-10">
		<div>
			<p class="font-semibold pb-2">Website</p>
			<nav class="flex flex-col">
				<ul>
					{
						NAVIGATIONS.filter((item) => item.pathname !== '/').map((item) => (
							<li class="list-none">
								<a
									class="text-sm py-1 font-medium text-muted-foreground"
									href={item.pathname}
									title={item.label}
								>
									{item.label}
								</a>
							</li>
						))
					}
				</ul>
			</nav>
		</div>

		<div>
			<p class="font-semibold pb-2">Networks</p>
			<nav class="flex flex-col">
				<ul>
					{SOCIALS.map((item) => <FooterLink label={item.label} url={item.pathname} />)}
				</ul>
			</nav>
		</div>

		<div>
			<p class="font-semibold pb-2">Repos</p>
			<nav class="flex flex-col">
				<ul>
					{REPOS.map((item) => <FooterLink label={item.label} url={item.pathname} />)}
				</ul>
			</nav>
		</div>
	</div>
</footer>
