---
import { DotPattern } from '@/components/pattern/dot-pattern';
import Seo from '@/components/seo.astro';
import { Toc } from '@/components/toc';
import RootLayout from '@/layouts/root-layout.astro';
import { dateToISO } from '@/lib/date';
import { Meta } from '@/modules/blog/meta';
import '@/styles/blog-posts.css';
import { Image } from 'astro:assets';
import type { InferEntrySchema, RenderedContent } from 'astro:content';
import { render } from 'astro:content';

interface Props {
	post: {
		id: string;
		body?: string;
		collection: 'blogCollection';
		data: InferEntrySchema<'blogCollection'>;
		rendered?: RenderedContent;
		filePath?: string;
	};
}

const { post } = Astro.props;
const { Content, headings } = await render(post);

const { title, description, keywords, publishedAt } = post.data;
const publishedTime = dateToISO(publishedAt);
---

<RootLayout scrollSmooth>
	<Seo
		{title}
		slot="metadata"
		{description}
		keywords={keywords}
		article={{ tags: keywords, publishedTime, authors: [] }}
	/>
	<div class="relative">
		<header class="container-fluid pt-32 md:pt-22 lg:pt-24 pb-6 lg:pb-12">
			<h1
				class="text-4xl leading-none sm:text-5xl lg:text-7xl tracking-tight font-bold text-balance pb-8 lg:pb-16"
			>
				{title}
			</h1>

			{
				post.data.coverImage && (
					<Image
						alt={post.data.coverAlt ?? ''}
						class="w-full h-64 md:h-128 object-cover rounded-lg"
						src={post.data.coverImage}
					/>
				)
			}
			<Meta client:load className="md:hidden pt-6" keywords={keywords} publishedAt={publishedAt} />
		</header>

		<DotPattern
			glow
			client:load
			className="mask-[radial-gradient(600px_circle_at_center,var(--background),transparent)]"
		/>
	</div>

	<section class="container-fluid sm:flex sm:flex-row-reverse sm:justify-between py-10">
		<Toc client:load headings={headings}>
			<Meta client:load className="hidden md:flex" keywords={keywords} publishedAt={publishedAt} />
		</Toc>

		<article class="prose dark:prose-invert [&_:is(h2,h3,h4,h5,h6)]:scroll-mt-10 flex-1 prose-stone">
			<Content />
		</article>
	</section>

	<slot />
</RootLayout>
